# Исключаем .env файл с секретами
.env

# Виртуальное окружение
venv/

# Настройки и метаданные IDE
.idea/

# Компилированные файлы Python
*.pyc
__pycache__/

# Логи и временные файлы
*.log
*.pot
*.py[cod]
*.pyo
*.sqlite3

# Статические файлы, если их собираешь
staticfiles/
static/

# Медиафайлы, если загружаются пользователями
media/

# Кэш и временные папки
*.tmp
*.bak
*.swp
*.swo
*.DS_Store
Thumbs.db

# Конфиги, специфичные для операционных систем
.vscode/
__MACOSX/

# Файлы пакетов Python
*.egg
*.egg-info/
dist/
build/
/dump.rdb
