{% extends "core/base.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Список сотрудников</h1>
    <div class="row">
        {% if employees %}
            {% for employee in employees %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title">
                                {{ employee.first_name }}
                                {% if employee.middle_name %}
                                    {{ employee.middle_name }}
                                {% endif %}
                                {{ employee.last_name }}

                            </h5>
                            <p class="card-text"><strong>Должность:</strong> {{ employee.position }}</p>
                            <p class="card-text"><strong>Телефон:</strong> {{ employee.phone_number }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p class="text-center text-muted">Сотрудников пока нет.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
